*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: content-box radial-gradient(#00b9ff, #004059);
    
}

.resultado{
    text-align: center;
    margin: 12px;
    text-wrap: balance;
}

.green{
    color: rgb(27, 158, 27);
}
.red{
    color: red;
}

header{
    background-color: teal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px px;
    animation: bajarNav both;
    animation-timeline: scroll();
    position: sticky;
    top: 0;
}

@keyframes bajarNav {
    from {
        padding: auto;
        background-color: teal;
    }to{
        padding: 0px;
        background-color: rgba(0, 128, 128, 0.904);
    }
}

.menuPrincipal ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.menuPrincipal li{
    list-style: none;
    margin: 4px;
}

.botones{
    color: white;
    display: inline-block;
    padding: 6px 9px;
    font-size: 1.2rem;
    margin-right: 10px;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color: #b9fffc;
}

#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#tituloPrincipal{
    display: inline-block;
    font-size: 2.7rem;
    font-family: "Lobster", sans-serif;
    text-shadow: 1px 2px 1px rgb(46, 45, 45);
    color:#ffffff;
    text-decoration: none;
}


.logotipo{
    width: 105px;
    margin-right: 10px;
    margin-left: 10px;
}

nav{
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.menuDeServicios input{
    display: none;
}

.menuDeServicios ul{
    display: none;
}

.menuDeServicios label{
    color: white;
    font-size: 1.2rem;
}

#flecha{
    font-size: 1rem;
}

.menuDeServicios input:checked  ~ul{
    width: 20%;
    background-color: #083d7b6e;
}

.menuDeServicios li{

    display: block;
    color: white;
    background: teal;
    margin: 0;
    padding: 15px;
    list-style: none;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
  
}

.menuDeServicios a{
    text-decoration: none;
    color: white;
}

.MenuHambur{
    display: none;   
}

.MenuHambur ul{
    display: none;
    padding: 0;
}

input:checked  ~ ul{
    display:block;
    background-color: teal;
    position: absolute;
    top: 125px;
    right:0;
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
  
}

.MenuHambur input {
    display: none;
}

.MenuHambur label{
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    position:absolute;
    top: 10;
    right: 0;
}

.MenuHambur li {
    display: block;
  background: lightgrey;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.especialidades{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: white;
    background-color:#2a9690;
    transition: 1s;
    margin-top: 20px;
}

button:hover{
    background-color: #00bbb2;
}


.tarjetas{
    height: 400px;
    width:380px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    margin-right: 25px;
    padding-bottom: 15px;
    border-radius: 20px;
    border: solid rgb(62 203 192 / 93%);
    align-items: normal;
}


.seccionInicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 90vh;
    font-size: 32px;
    padding: 10px;
    color: #f3eee7;
    background-repeat: no-repeat;
    background-size: cover;    
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.2)),url(imagenes/edificio2.jpg);
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

#seccionInicio1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    background:#002c7361;
    min-height: 420px;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid #2bb5b9;
    border-radius: 15%;
}

h1{
    font-size: 3rem;
    text-shadow: 1px 2px 1px rgb(0, 0, 0);
    padding-left: 30px;
}

#seccionInicio1 p{
    padding-left: 35px;
    font-size: 2.3rem;
}

#imagenPrincipal{
    object-fit: cover;
}

#botonInicio{
    font-size: 2.2rem;
    width: 300px;
    height: 80px;
    background-color:#008f87;
}

#botonInicio:hover{
    background-color: #008378;
}

#titulo2{
    font-size: 44px;
}

.SeccionEspecialidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    background-image: linear-gradient(360deg, rgb(0 82 113), rgb(0 255 246));
    background-size: cover;
    min-height: 75vh;
    margin-top: 5px;
}

.SeccionEspecialidades a {
    text-decoration: none;
    color: white;
}

.SeccionEspecialidades a:hover {
    outline: 2px solid rgb(254, 255, 255);
}

.SeccionEspecialidades h2{
    font-size:28px;
    text-shadow: 2px 3px 5px black;
}
.tituloEsecialidad{
    width: 100%;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(356deg, #2a9690, #00776f);
}
.tituloTarjeta{
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: #1ba39b;
    border-radius: 15px;
    text-shadow: 2px 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#areatraumatologia{
    background-image:linear-gradient(0deg,
    rgba(0,0,0,0.1),
    rgba(0,0,0,0.1)), url(imagenes/Traumatologia.jpg);
    background-position: center;
    background-size: 380px 400px;
}

#areaCardio{
    background-image: url(imagenes/cardiology.webp);
    background-size: cover;
    background-position: center;
}

#areaOdontologia{
    background-image: url(imagenes/odontologia.jpg);
    background-size: cover;
}
#contenedorPrincipal{
    height: 450px;
    margin-bottom: 15px;
    margin-top: 5px;
}

#citaOnline{
    background: linear-gradient(356deg, #00eef1, #00aba0);
    height: 75px;
    padding-left: 20px;
    padding-top: 10px;
}

#citaOnline h2{
    font-size: 44px;
    color: white;
    text-shadow: 2px 3px 5px black;
}

#contenedorCita{
    width: 100%;
    display: flex;
    flex-direction: row;

}

.cita{
    background-color:teal;
    width: 50%;
    height: 380px;
    color: white;
}

#listaDeCitas{
    padding-top: 20px;
    padding-left: 30px;
}

.cita li{
    font-size: 28px;
    margin: 10px;
}

.cita ul{
    margin: 50px 0px 50px 0px;
}


#imagenOnline{
    background-image: url(imagenes/registarCita.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
dialog{
    margin: auto;
     border: none;
     padding: 0;
     background-color: #0711148f;
     width: 600px;
     padding-bottom: 10px;
}

 #ventana{
    width: 1500px;

 }
 
 dialog::backdrop{
     background: #0a0a0a86;
 }
 
 .contenidoDialog{
     padding: 0%;
     display: flex;
     flex-direction: column;
     width: 100%;
     min-height: auto;
     margin: auto;
     background-color: #363636;
 }
 
 .contenedorBoton{
 display: flex;
 flex-direction: row;
 justify-content: right;
 }
 
 #botonDialog{
     width: 180px;
     font-size: 1.3rem;
     background-color: teal;
     margin-top:15px ;
     margin-right: 10px;
 }
 
 #botonDialog:hover{
     background-color: #00776f;
 }
 
 .ModalClose{
     margin: 0;
     position: absolute;
     top: 0;
     right: 0;
     background:transparent;
     color: white;
     border: none;
     height: 40px;
     font-size: 1rem;
 }
 
 .headerModel{
     padding: 5px;
     width: 100%;
     min-height: 80px;
     background-color: teal;
     color: white;
     font-size: 1.4rem;
     text-align: center;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
 }

 .headerModel h2{
    letter-spacing: 4px;
 }
 
.botonesLogin{
    background-color: #363636;
    border-radius: 6px;
    border: 1px solid #fff3;
    color: rgba(255, 255, 255, 0.438);
    font-size: 1.3rem;
    margin-right: 15px;
    margin-top: 0px;
    margin-top: 20px;
}

.botonesLoginSelecionado {
    border-radius: 6px;
    font-size: 1.3rem;
    margin-right: 15px;
    margin-top: 0px;
    margin-top: 20px;
    background-color: #363636 ;
    border-color: rgb(65, 255, 239);
    color: rgb(111, 255, 243);
    box-shadow: 6px 0px 6px rgba(62, 237, 250, 0.2), 6px 0px 16px rgba(17, 233, 233, 0.445) ;
    text-shadow: 0px 0px 9px rgba(68, 227, 238, 0.933), 0px 0px 3px rgba(159, 255, 239, 0.454)
}

.botonesLogin:hover{
    background-color: #363636 ;
    border-color: rgb(65, 255, 239);
    color: rgb(111, 255, 243);
    box-shadow: 6px 0px 6px rgba(62, 237, 250, 0.2), 6px 0px 16px rgba(17, 233, 233, 0.445) ;
    text-shadow: 0px 0px 9px rgba(68, 227, 238, 0.933), 0px 0px 3px rgba(159, 255, 239, 0.454)
}
 
.contenedorDialog{
     margin-top: 25px;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly
}

.cuadritoBotones{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;   
}

.cuadritoBotones button{
    width: 180px;
}
 
.tituloDeSegmento{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     background-color: teal;
     color: white;
     height: 75px;
     border-radius: 8px;
     font-size: 1.8rem;
 
 }
 
 .segmento{
     display: flex;
     flex-direction: column;
     background-color: rgb(189, 185, 185);
     min-height: 500px;
     width: 330px;
     border: 1px solid black;
     border-radius: 8px;
 }
 

 .segmento a{
     text-decoration: none;
     margin-bottom: 8px;
     font-size: 1.4rem;
     border-bottom: 1px solid teal;
     color: white;
     text-shadow: 2px 4px 7px #636363;
 }

 #Servicio a {
    padding: 15px 10px;
 }

 #fechas{
    min-width: 355px;
 }
 
 .segmento a:hover{
     background-color:rgb(0, 155, 155);
     color: white;
 }

 .segmento button{
    color: white;
    background-color: transparent;
    width: 300px;
    border: none;
    box-shadow: none;
    border-radius: 2px;
 }

 #listaEspecialidades a{
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 10px;

 }

 .iten--especialidades{
    padding: 10px 0;
 }

 #listaDoctores{
     padding: 8px;
 }

 .dotorCardiologo{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .dotorCardiologo p{
    margin-left: 20px;
 }

 .fotoDoctor{
    width: 90px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid teal;

 }
 
 #calendarioCita{
     height: 50%;
     width: auto;
}

.cuadroDePrueba{
    margin-top: 5px;
    min-height: 250px;
    width: 350px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto auto auto auto auto;
    gap: 5px;
    background-color: rgb(59, 59, 59);
    
}

#PrimerDay{
    grid-column-start: 6;
}
.DiaDispinible{
    background-color: teal;
}

.grid-iten{
    color: white;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tituloHoras{
    color: white;
    font-size: 1.8rem;
    margin-left: 8px;
    margin-top: 10px;
    text-shadow: 2px 3px 5px black;
}

.cuadroHoras{
    padding: 8px;
    margin-top: 20px;
    display: grid;
    width: 100%;
    min-height: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 10px;
}

.grid-horas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 15px;
    background-color: teal;
    font-size: 1rem;
    
}

.grid-iten:hover{
    background-color: rgb(2, 156, 156);
}

.grid-horas:hover{
    background-color: rgb(2, 156, 156);
}
.diasSemana{
    background-color: cadetblue;
    padding: 2px;
}

#calendarioCita{
    display: flex;
    flex-direction: column;
    display: none;
}

.cuadrosDeRegistro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#iniciarSeccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 580px;
    background-color:transparent;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    margin-right: 12px;
    border: 1px solid teal;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 10px teal;
}

#iniciarSeccion form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 80%;
}

#iniciarSeccion input{
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    height: 30px;
    margin-top: 3px;
    border-radius: 3px;
    color: white;
}

#RegistroUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-height: 580px;
    background-color: transparent;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    border: 1px solid teal;
    border-radius: 15px;
    display: none;
    margin-bottom: 25px;
    box-shadow: 0px 0px 10px teal;

}

#RegistroUsuario form{
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    margin-top: 30px;
    width: 80%;
}

#RegistroUsuario input{
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background: transparent;
    height: 20px;
    margin-top: 3px;
    border-radius: 3px;
    color: white;
}

#RegistroUsuario label{
    color: white;
}

#LinkRegistro{
    margin-top: 45px;
    font-size: 1.4rem;
    color: rgb(168, 168, 168);
}

#LinkRegistro:hover{
    color: teal;
}

span{
    color: #ffffff;
    font-weight: 700;
}

span:hover{
    color: teal;
}

.Horarios{
    height: 75vh;
    Background-image: linear-gradient(0deg, #0f3b53, #00c7bc);
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

caption {
    font-size: 20px;
    padding: 20px;
    font-size: 28px;
    color: #002e72;
    font-weight: 700;

}

th {
    background-color: #1681ac;
    color: black;
    height: 30px;
}
  
td {
    background-color: #4a5252;
    color: white;
    padding: #4fc3f7;
    text-align: center;
    height: 30px;
}

.Horarios ul{
    text-align: left;
}

footer{
    background-color: hsl(0deg 0% 20.62%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 0px;
}

.footerSuperior{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
}

footer .contactos{
    background-color: #76ABAE;
    width: 50%;
    height: 400px;
    margin-right: 15px;
    padding-left: 20px;
    padding-top: 15px;
}

#redesSociales{
    margin-bottom: 15px;
}


.bi{

    font-size: 32px;
    margin-right: 20px;
    color: black;
}

.bi:hover{
    color: #404142;
}

.bi-facebook{
    color: blue;
}

.bi-twitter-x{
    color: black
}

.bi-instagram{
    color: rgb(255, 38, 31);
}

.bi-whatsapp{
    color: rgb(7, 153, 7);
}
footer .ubicacion{
    display: flex;
    flex-direction: row;
    background-color: #76ABAE;
    width: 50%;
    height: 400px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 12px;
    margin-left: 15px;
}

.mapa{
    background-size: cover;
}

iframe{
    width: 500px;
}

.conteinerUbi{
    display: flex;
    flex-direction: column;
    margin-right:15px;
    width: 40%;
}

footer .piePagina{
    align-items: center;
    background-color:hsl(0deg 0% 20.62%);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .menuPrincipal{
        display: none;
    }
    .MenuHambur{
        display: flex;
    }
}

@media screen and (max-width: 700px)  {
      #imagenOnline{
        display: none;
      }
      #listaDeCitas{
        width: 100%;
      }  
}

@media screen and (max-width: 800px)  {

    .footerSuperior{
      display: flex;
      flex-direction: column;
    } 
    footer .contactos{
        width: 100%;
        margin-bottom: 15px;
    }

    footer .conteinerUbi{
        width: 100%;
        padding: 10px 0;
    }

    footer .ubicacion{
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-left: 1px;
    }

    footer .mapa{
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 800px)  {
    .Horarios{
      display: none;
 }
}

@media screen and (max-width: 600px)  {
    Dialog{
      width: 100%;
 }
    #iniciarSeccion{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #RegistroUsuario{
        width: 100%;
    }
    iframe{
        width:380px; 
        height: 390px;
    }
}


/*<a href="#" class="dotorCardiologo">
                  <img src="imagenes/doctorArigas.jpeg" alt="Jhoan" class="fotoDoctor">
                  <p>Jhoan Artigas</p>
                </a>-
                /*                